[submodule "lib/dispatch-meetup"]
	path = lib/dispatch-meetup
	url = git://github.com/n8han/dispatch-meetup.git
[submodule "lib/dispatch-lift-json"]
	path = lib/dispatch-lift-json
	url = git://github.com/dispatch/dispatch-lift-json
