/* this years color is d34c65. http://www.color-hex.com/color/d34c65 */
body {
  background-color:#d34c65;
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body > header,
body > section,
body > footer {
  display: block;
  width: 100%;
  clear: both;
  float: left;
}

.inverse {
  background-color:#FFFCFC;
  color:#d34c65;
}

.top {
  /*height:100vh;*/
  height:100%;
  text-align:center;
}

.left {
  text-align:left;
}

.right {
  text-align:right;
}

.striped {
  /** http://css-tricks.com/stripes-css/ 
      http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html */
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: transparent;
   background:repeating-linear-gradient(145deg, transparent, transparent 10px, #fff 0px, #fff 45px);
   background: -o-linear-gradient(transparent, transparent);  
  -webkit-background-clip: text;
}

h1, h2, h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.5em;
}

strong {
  color:#a92a41;
  text-shadow:none;
  font-size:105%;
}

/** icon links */

a.icon {
  color:#fff;
  background-color:#DB6E82;  
  border-radius:4px;
  text-align:center;
  position:relative;
  display:inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin:0 2px;
  transition: all .3s;
  -webkit-font-smoothing: antialiased;
}

a.icon:hover {
 background:#ef92a3;
}

a.icon span {
  color:#666;
  position:absolute;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

a.icon span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-4px;
  left:40px;
}

a.icon:hover span {
  bottom:50px;
  visibility:visible;
}

a {
  font-weight:bold;
  color:#fff;
  text-decoration:none;
}

.inverse a {
  color:#d34c65;
}

footer {
  color:#E2899A;
  margin-top:1em;
  text-align:center;
}

hr {
  border: 1px solid #eee;
  margin: .75em auto;
  opacity: 0.3;
  width: 50px;
}

.communicate {
  margin-top:90px;
  padding:1em;
}

#map {
  height: 200px;
}

.pushdown {
  margin-top:2em;
}

/* forms */

.btn:link,
.btn:hover,
.btn:active,
.btn:visited {
  color:#fff;
}

.btn  {
  padding:.25em .25em;
  color:#fff;
  text-shadow:0 1px #g30A7DF;
  border:1px solid #25DBFF;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  background-image: -moz-linear-gradient(top, #66efff, #25DBFF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#66efff), to(#25DBFF));
  background-image: -o-linear-gradient(top, #66efff, #3699ff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66efff', endColorstr='#25DBFF');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66efff', endColorstr='#25DBFF')";
  background-image: linear-gradient(top, #66efff, #25DBFF);
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.btn:hover {
  background-image: -moz-linear-gradient(top, #66efff, #13CAEE);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#66efff), to(#13CAEE));
  background-image: -o-linear-gradient(top, #66efff, #13CAEE);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66efff', endColorstr='#13CAEE');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66efff', endColorstr='#13CAEE')";
  background-image: linear-gradient(top, #66efff, #13CAEE);
}

.btn:active {
  background-image: -moz-linear-gradient(top, #4DE1FF, #02C8F0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4DE1FF), to(#02C8F0));
  background-image: -o-linear-gradient(top, #4DE1FF, #02C8F0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4DE1FF', endColorstr='#02C8F0');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4DE1FF', endColorstr='#02C8F0')";
  background-image: linear-gradient(top, #4DE1FF, #02C8F0);
}

.btn:disabled {
  border-color:#D8D8D8;
  background-image: -moz-linear-gradient(top, #F0F0F0, #D8D8D8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#F0F0F0), to(#D8D8D8));
  background-image: -o-linear-gradient(top, #F0F0F0, #02C8F0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#D8D8D8');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#D8D8D8')";
  background-image: linear-gradient(top, #F0F0F0, #D8D8D8);
}

.btn.cancel {
  border-color:#9FA1A2;
  text-shadow:0 1px #9FA1A2;
  background:#DBDBDB;
  background-image: -moz-linear-gradient(top, #DBDBDB, #BDC1C4);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#DBDBDB), to(#BDC1C4));
  background-image: -o-linear-gradient(top, #DBDBDB, #3699ff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#BDC1C4');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#BDC1C4')";
  background-image: linear-gradient(top, #DBDBDB, #BDC1C4);
}

.btn.cancel:hover {
  border-color:#9FA1A2;
  background:#DBDBDB;
  background-image: -moz-linear-gradient(top, #DBDBDB, #9FA1A2);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#DBDBDB), to(#9FA1A2));
  background-image: -o-linear-gradient(top, #DBDBDB, #9FA1A2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#9FA1A2');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#9FA1A2')";
  background-image: linear-gradient(top, #DBDBDB, #9FA1A2);
}


.less-top-padding {
  padding-top:6px !important;
}

input[type="submit"] {
  padding:.4em;
}

.ballot .btn:before {
  content:"\f05d";
  font-family: FontAwesome;
}

.btn.voted-yes:before {
  content:"\f00d";
  font-family: FontAwesome;
}

.btn.voted-yes {
  color:#fff;
  text-shadow:0 1px #g30A7DF;
  border:1px solid #76BD19;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  background-image: -moz-linear-gradient(top, #ABFC41, #89E016);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ABFC41), to(#89E016));
  background-image: -o-linear-gradient(top, #66efff, #3699ff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABFC41', endColorstr='#89E016');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ABFC41', endColorstr='#89E016')";
  background-image: linear-gradient(top, #ABFC41, #89E016);
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.btn.voted-yes:hover {
  background-image: -moz-linear-gradient(top, #7FE000, #72BD10);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#7FE000), to(#72BD10));
  background-image: -o-linear-gradient(top, #7FE000, #13CAEE);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7FE000', endColorstr='#72BD10');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7FE000', endColorstr='#72BD10')";
  background-image: linear-gradient(top, #7FE000, #72BD10);
}

.btn.voted-yes:active {
  background-image: -moz-linear-gradient(top, #6E9B34, #5A861F);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#6E9B34), to(#5A861F));
  background-image: -o-linear-gradient(top, #6E9B34, #5A861F);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E9B34', endColorstr='#5A861F');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E9B34', endColorstr='#5A861F')";
  background-image: linear-gradient(top, #6E9B34, #5A861F);
}

input[type='text'], textarea {
  -webkit-transition: box-shadow 0.2s linear;
  -moz-transition: box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear;
  -ms-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 0px 6px #eeeeee;
  -webkit-box-shadow: 0px 0px 6px #eeeeee;
  -moz-box-shadow: 0px 0px 6px #eeeeee;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #CCC;
  font-size: 1.25em;
  padding: .25em;
  width: 97.5%;
  margin: 0 auto;
}

.grid, .unit {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}


@media (min-width: 960px) {
  
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.6em;
  }
  h3 {
    font-size: 2em;
  }
  .lead {
    font-size: 1.5em;
  }
}

.small {
  font-size:smaller;
}

.modal {
  box-shadow: 0px 0px 6px #ccc;
  -webkit-box-shadow: 0px 0px 6px #ccc;
  -moz-box-shadow: 0px 0px 6px #ccc;
  border:1px solid #ddd;
  top: 550px;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 1000;
  background: #fff;
  color:#333;
  position:absolute;
  padding: 1em;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-radius: 6px;
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.modal.active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

@media (max-width:600px) {
 .modal {
    top:800px;
  }
}

@media (min-width:600px) {
  .modal {
    top: 750px;
  }
}

ul { list-style:none; margin:0; padding:0; }

.circle {
  line-height: 0;/* remove line-height */ 
  display: inline-block;/* circle wraps image */
  margin: 5px;
  border: 5px solid rgba(218,218,218,0.8);
  border-radius: 50%;/* relative value */
  /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
  transition: linear 0.25s;
  height: 70px;
  width: 70px;
  overflow:hidden;
}

.circle img {
   border-radius: 50%;/* relative value for
                             adjustable image size */
}

.circle:hover {
  transition: ease-out 0.1s;
  border: 5px solid rgba(218,218,218,0.2);
  -webkit-transition: ease-out 0.1s;
}

a.circle {
  color: transparent;
} /* IE fix: removes blue border */

.note {
  font-size:smaller;
  background:#eee;
  border-radius: 6px;
  margin:.5em 0;
}

.note a {
  color: #333;
}

.limit-label {
  color:#ccc;
}

.modal a {
  color:#333;
}

.break {
  color:#DD8080;
}