mu_consumer = MEETUP_OAUTH_CONSUMER_KEY
mu_consumer_secret = MEETUP_OAUTH_CONSUMER_SECRET
host = HOST_FOR_OAUTH_CALLBACK
api_key = MEETUP_API_KEY

MEMCACHE_SERVERS = MEMCACHED_SERVER_HOST
MEMCACHE_PASSWORD = MEMCACHED_PASSWORD
MEMCACHE_USERNAME = MEMCACHED_USERNAME

REDISTOGO_URL = REDIS_URL

nyc.event_id = 15526582
boston.dayone_event_id = 37637442
boston.daytwo_event_id = 44042982
boston.daythree_event_id = 44049692
philly.event_id = 97192402

secret = SITE_SECRET

nyc.2014.dayone_event_id = 160217402
nyc.2014.daytwo_event_id = 160255032