mu_consumer = MEETUP_OAUTH_CONSUMER_KEY
mu_consumer_secret = MEETUP_OAUTH_CONSUMER_SECRET
host = HOST_FOR_OAUTH_CALLBACK
api_key = MEETUP_API_KEY

MEMCACHE_SERVERS = MEMCACHED_SERVER_HOST
MEMCACHE_PASSWORD = MEMCACHED_PASSWORD
MEMCACHE_USERNAME = MEMCACHED_USERNAME

REDISTOGO_URL = REDIS_URL

secret = SITE_SECRET