* { margin:0; }

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

cite { font-style:normal; }

q { content:none; }

.attending {
  clear:both;
  width:330px;
  margin-top:1em;
}

.rsvps li, .photos li {
  list-style:none;
  float:left;
  padding:5px;
  width:50px;
  height:50px;
  background:#eee;
  margin:2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#propose-form input[type="text"], #propose-form textarea {
  width:100%;
  margin:.5em 0;
  padding:.25em;
  font-size:24px;
  color:#333;
}

#propose-form input[type="submit"] {
  float:right;
}

.btn {
  font-size:24px;
  padding:.15em .25em;
  color:#fff;
  text-shadow:0 1px #g30A7DF;
  border:1px solid #25DBFF;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  background-image: -moz-linear-gradient(top, #66efff, #25DBFF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#66efff), to(#25DBFF));
  background-image: -o-linear-gradient(top, #66efff, #3699ff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66efff', endColorstr='#25DBFF');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66efff', endColorstr='#25DBFF')";
  background-image: linear-gradient(top, #66efff, #25DBFF);
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.btn:hover {
   background-image: -moz-linear-gradient(top, #66efff, #13CAEE);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#66efff), to(#13CAEE));
  background-image: -o-linear-gradient(top, #66efff, #13CAEE);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66efff', endColorstr='#13CAEE');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66efff', endColorstr='#13CAEE')";
  background-image: linear-gradient(top, #66efff, #13CAEE);
}

.btn:active {
  background-image: -moz-linear-gradient(top, #4DE1FF, #02C8F0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4DE1FF), to(#02C8F0));
  background-image: -o-linear-gradient(top, #4DE1FF, #02C8F0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4DE1FF', endColorstr='#02C8F0');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4DE1FF', endColorstr='#02C8F0')";
  background-image: linear-gradient(top, #4DE1FF, #02C8F0);
}

.btn:disabled {
  border-color:#D8D8D8;
  background-image: -moz-linear-gradient(top, #F0F0F0, #D8D8D8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#F0F0F0), to(#D8D8D8));
  background-image: -o-linear-gradient(top, #F0F0F0, #02C8F0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#D8D8D8');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#D8D8D8')";
  background-image: linear-gradient(top, #F0F0F0, #D8D8D8);
}

.rsvps li:hover {
  background:#B9DDFF;
}

.rsvps li img, .photos li img {
  max-width: 50px;
  width:50px;
  overflow:hidden;
}

.rsvps li span {
  height:50px;
  max-height:50px;
  display:block;
  overflow:hidden;
}

.rsvps li a:link, .rsvps li a:visited, .photos li a:link, .photos li a:visited {
  color:transparent;
}

#talkers dd a { font-size:smaller; }

body {
  font-family:'Arvo',helvetica, arial;
  font-size:24px;
  color:#385A7A;
  background:#fbfbfb;
}

textarea {
  font-family:'Arvo',helvetica, arial;
  height:4em;
}

.limit-label {
  text-align:right;
  font-size:18px;
  color:#ccc;
  display:inline-block;
}

.day {
  padding:1em 0;
}

.contained {
  margin:0 auto;
  width:960px;
}

#head {
  padding:1em 0 .25em 0;
  text-shadow:0 1px #000;
  background:#003950;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003950', endColorstr='#0F3036');
  background: -webkit-gradient(linear, left top, left bottom, from(#003950), to(#0F3036));
  background: -moz-linear-gradient(top, #003950, #0F3036);
}

.instruct {
  font-size:16px;
}

#proposals {
  clear:both;
}

#propsosal-list {
  list-style:none;
  margin:0;
  padding:0;
}

#proposal-list li {
  
  padding:.5em;
  margin:.25em 0;
  background:#E7FBFF;
  display:block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#proposal-list .controls {
  display:block;
  font-size:16px;
  margin:.5em 0;
}

input[type='text'], textarea {
  -webkit-transition: box-shadow 0.2s linear;
  -moz-transition: box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear;
  -ms-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 0px 6px #eeeeee;
  -webkit-box-shadow: 0px 0px 6px #eeeeee;
  -moz-box-shadow: 0px 0px 6px #eeeeee;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #CCC;
  font-size: 26px;
  padding: .25em;
  width: 80%;
  margin: 0 auto;
}

#proposal-list .preview {
  clear:both;
  font-size:16px;
  white-space:pre-wrap;
}

#head a:link h1, #head a:visited {
  color:#385A7A;
}

#head a:hover h1 {
  color:#B9DDFF;
}

#head h2 {
  margin-top:.45em;
  line-height:1em;
}

#head p {
  margin-top:.5em;
}

#day-one {
  background:#DBF5FF;
}

#day-two {
  background:#F7F8E6;
}

#day-three {
  background:#F3F89A;
}

#footer {
  background:#003950;
}

#footer #last-year {

}

#talk-submissions {
  clear:both;
}

h1 { clear:both; }
h1, h2 { font-weight:bold; line-height:1.2em; letter-spacing:-1px;}
h1 span { color:#FF005E; display:block; font-size:90px; }
h3 span { display:block; line-height:0em; font-size:18px; color:#ccc;}
h2 { font-size:90px; color:#B9DDFF; text-shadow:0 1px #ccc; }
p { margin:1em 0; }
a:link,a:visited {
 color:#FF005E;
 text-decoration:none;
 -webkit-transition: color .15s linear;
 transition: color .15s linear;
}
a:hover {
 color:#B9DDFF;
 -webkit-transition: color .15s linear;
 transition: color .15s linear;
}
.l, .r {
 float:left;
 padding:0 .5em;
 z-index:9999;
 width:540px;
}

.l {
  width:330px;
  text-align:right;
}

.divy {
  border-top:1px dashed #ccc;
  padding-top:.5em;
}

.soft {
 color:#B9DDFF;
}

ul { list-style:none; margin:0; padding:0; }

.i { position:absolute; display:block; z-index:-1;}

#footer {
  clear:both;
  text-align:center;
  padding:1em;
}

.love {
  color:#FF005E;
}

dl dt {
  margin-top:1em;
  font-weight:bold;
}

dl dd {
  padding:.5em;
}

dl dd span {
  color:#B9DDFF;
}

dl dd img {
  float:left;
}

#feet {
  padding:1em;
}

#lets {
  text-align:center;
  font-size:12px;
}

#tweets li {
  margin:1em 0;
  font-size:70%;
  padding:.5em;
}

::-moz-selection {
  background:#FF005E;
  color:#385A7A;
}
::selection {
  background:#FF005E;
  color:#385A7A;
}

#countdown {
  position: fixed;
  top: .5em;
  right: .5em;
}

div.entry {
  padding-top: 1em;
}

a.voted, a.voted:link, a.voted:visited {
  color:#AEFF00;
  text-decoration:line-through;
}

#countdown {
  background: rgb(51, 51, 51);
  background: rgba(51, 51, 51, 0.75);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:.5em;
  color:#fff;
}