#tallies li {
   width:100%;
   background:#003950;
   color:#fff;
   margin:.25em;
   text-align:right;
   padding:.25em;
   clear:both;
}

#tallies li:hover {
  cursor:pointer;
}

#tallies {
  width:940px;
}

#tallies li .bar {
  position:absolute;
  color:green;
  background:#FF005E;
  color:#FF005E;
  width:0px;
  overflow:hidden;
  z-index:100;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#tallies li .title {
  z-index:9999;
  padding-right:.5em;
  position:relative;
}

#tallies .progress {
  float:right;
  width: 880px;
}